header, nav, footer, aside {
    display: block; /*занимает всю доступную ширину*/
}

html, body {
    width: 100%; /*ширина*/
    height: 100%; /*высота*/
}

a, button {
    cursor: pointer /*курсор, который обычно появляется над нажимаемыми элементами типа ссылок*/
}

ul, li {
list-style: none; /*не используется никакой стиль списка*/
}

* {
    margin: 0; /*нет внешних отступов*/
    padding: 0; /*нет внутренних отступов*/
}

*, *::before, *::after {
    box-sizing: border-box; /*Установка свойства box-sizing в border-box для каждого элемента обеспечивает вычисление границы с отступами, т.е. внутри элемента.*/
}

a, a:visited, a:hover {
    text-decoration: none; /*убирает подчёркивание для всех состояний ссылок*/
}